* {
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    font-family: 'Josefin Slab', sans-serif;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    background-color: #0B0D3E;
}

nav img {
    width: 250px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 22px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #ec0066;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.responsive-aboutUs {
    display: none;
}

nav .fa-solid {
    display: none;
}

/* About page */

.aboutPage-main {
    margin-top: 7em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80em;
    gap: 5em;
}

.aboutPage-main div h1 {
    margin-bottom: 0.5em;
}

.left-section {
    width: 40em;
    display: flex;
    flex-direction: column;
    gap: 3em;
    text-align: justify;
    font-size: 25px;
}

#ourCulture {
    text-align: end;
}

.right-section {
    width: 40em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    text-align: justify;
    font-size: 25px;
}

.different {
    margin-top: 3%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 80%; */
    /* margin-left: 10%; */
}

.different h1 {
    font-size: 35px;
    margin-bottom: 0.7em;
    font-weight: 900;
}

.different p {
    margin: 20px;
    padding: 0 11em;
    font-size: 25px;
    text-align: center;
}

.different p span {
    font-size: 25px;
    font-weight: 700;
}

.contact-direction {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    gap: 40px;
    font-size: 25px;
    margin-bottom: 3%;
    /* font-weight: 900; */
}

.contact-direction a {
    border: 1px solid black;
    text-decoration: none;
    color: black;
    font-weight: 900;
    padding: 0.7em 2.5em;
    border-radius: 20px;
}

.contact-direction a:hover {
    border: 1px solid #ffbf00;
    color: #0B0D3E;
    background-color: #ffbf00;
    transition: 0.3s ease;
}

footer {
    padding: 2% 10%;
    font-size: 25px;
    background-color: #212121;
    color: white;
    display: flex;
    justify-content: space-around;
    /* width: 80%; */
    /* margin-left: 10%; */
}

.nav-icons ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

footer sub {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.ftopic {
    color: #ea3a60;
    font-size: 30px;
}

.footer2 {
    width: 100%;
    height: 50px;
    background-color: #424242;
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;
}

.fa-brands {
    color: #ea3a60;
    text-decoration: none;
    font-size: 35px;
}

.fa-brands:hover {
    border-radius: 50%;
    height: 35px;
    width: 35px;
    /* padding-top: 10px; */
    text-align: center;
    color: white;
    background-color: #ea3a60;
}

.Quick-links {
    margin-left: 3em;
    margin-right: 3em;
    width: 200px;
}

/*---------------------------------------------------Services----------------------------------------------------- */

.large-screen {
    background-color: #eeee;
    /* padding-top: 0.1em; */
    padding-bottom: 5em;
}

.services-provided {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin-bottom: 8em; */
}

.sub-development {
    background-color: white;
    width: 65em;
    height: 30em;
    margin-top: 8em;
    padding: 3em;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.sub-development h1 {
    margin-bottom: 1em;
    font-size: 35px;
}

.sub-development p {
    font-size: 25px;
}

.point-subdevelopment {
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* gap: 20px; */
    font-size: 20px;
}

.point-subdevelopment div {
    width: 40em;
}

.point-subdevelopment div ul {
    padding-left: 0;
    /* Remove default padding */
    list-style: none;
    /* Remove default list styles */
}

.point-subdevelopment div ul li {
    margin-bottom: 1em;
    padding-left: 1.5em;
    /* Add padding to create space for the bullet */
    position: relative;
    /* Create a positioning context for ::before pseudo-element */
}

.point-subdevelopment div ul li::before {
    content: '➜';
    background-color: #ffbf00;
    position: absolute;
    /* Position the bullet */
    left: -5px;
    /* top: 1em;  */
    /* Adjust the vertical alignment */
    padding: 0 5px;
}

.first-svg {
    /* width: 0.2rem; */
    height: 200px;
    width: 300px;
    margin-top: 5em;
    margin-left: -10em;
    z-index: 1;
}

.second-svg {
    /* width: 0.2rem; */
    height: 15em;
    width: 22em;
    margin-top: 5em;
    margin-right: -5em;
}


.separating-border {
    /* content: ''; */
    width: 4.5em;
    height: 3px;
    background: #ffbf00;
    /* display:block; */
    margin-bottom: 25px;
    transition: 0.5s;
}

.separating-border-right {
    width: 4.5em;
    height: 3px;
    background: #ffbf00;
    /* display:block; */
    margin-bottom: 25px;
    margin-left: 19.5em;
    transition: 0.5s;
}

.not-sure {
    /* background-color: #ea3a60; */
    background-color: #ffbf00;
    min-height: 28em;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* padding-bottom: 5em; */
    /* margin-top: 5em; */
}

.not-sure h1 {
    margin-top: 2em;
    font-size: 4em;
}

.not-sure a {
    color: #ffbf00;
    background-color: #0B0D3E;
    font-weight: 900;
    margin-top: 1em;
    border-radius: 20px;
    padding: 0.7em 2.5em;
    text-decoration: none;
    font-size: 1.8em;
    transition: padding 0.4s ease;
}

.not-sure a:hover {
    padding: 0.8em 2.6em;
    font-size: 2em;
    color: #ffbf00;
    background-color: #0B0D3E;
}

.separating-border-blue {
    width: 10em;
    height: 3px;
    background: #0B0D3E;
    margin-top: 3em;
    margin-bottom: 25px;
    transition: 0.5s;
}

.small-screen {
    display: none;
}
/* ----------------------------------------------------1000px-----------------------------------------------------*/
@media (max-width: 1000px) {
    .nav-links ul li {
        display: inline-block;
    }

    .nav-links {
        position: fixed;
        background: #0B0D3E;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }

    nav .fa-solid {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 10px;
    }
}
/* ----------------------------------------------------1900px---------------------------------------------------- */
@media (max-width:1900px) {

    .aboutPage-main {
        display: none;
    }

    .responsive-aboutUs {
        margin-top: 20px;
        display: flex;
        padding: 0 20px;
        flex-direction: column;
    }

    .image-container-about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sub-about-us {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 4em;
        /* width:  40em; */
        gap: 0.6em;
    }

    .about-us,
    .our-culture,
    .our-mission {
        display: flex;
        flex-direction: column;
        gap: 1em;
        margin-bottom: 2em;
        text-align: justify;
        font-size: 25px;
    }

    .responsive-aboutUs h1 {
        font-size: 35px;
    }

    .different p {
        margin: 20px;
        padding: 0 4em;
        font-size: 25px;
        text-align: justify;
    }

    .large-screen {
        display: none;
    }

    .small-screen {
        display: flex;
        flex-direction: column;
        gap: 4em;
        background-color: #eeee;
        /* overflow-y: scroll;
        scroll-snap-type: y mandatory; */
        /* margin-bottom: 5em; */
    }

    .first-svg {
        height: 8.5em;
        width: 12em;
        margin-top: 8.2em;
        margin-left: -15em;
        z-index: 1;
    }

    .not-sure {
        padding-bottom: 4em;
    }
}