* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Slab', sans-serif;
}

header {
    min-height: 100vh;
    width: 100%;
    background-color: #0B0D3E;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: 2em;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 250px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 22px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #ec0066;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: #fff;
    /* margin-top: 7%; */
    margin-left: 5%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
    /* width: 100%; */
    /* height: 100%; */
    filter: blur(20px);
    animation: blurToFocus 1.5s forwards;
}

@keyframes blurToFocus {
    0% {
        filter: blur(20px);
        transform: translateY(100px);
    }

    100% {
        filter: blur(0);
        transform: translateY(0);
    }
}

.text-box h1 {
    margin: 30px 0 30px;
    letter-spacing: 2px;
    font-size: 50px;
    color: #fff;
}

.text-box h2 {
    font-size: 30px;
    letter-spacing: 3px;
    font-weight: 300;
    color: #fff;
}

.image-container {
    margin-top: 7%;
    display: flex;
    justify-content: center;
}

.image-container img {
    height: 10%;
}

.blurred {
    filter: blur(20px);
    /* Initial blur amount */
    animation: focusImage 1.5s forwards;
    /* Animation to transition from blur to focus */
}

@keyframes focusImage {
    from {
        filter: blur(20px);
    }

    to {
        filter: blur(0);
    }
}

nav .fa-solid {
    display: none;
}


.about-section {
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
}

.about-section div:first-child {
    font-size: 70px;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 1.2em;
}

.about-section div:nth-child(2) {
    margin-left: 5%;
    font-size: 25px;
    line-height: 150%;
    /* background-color: #0B0D3E; */
}

.about-section div:nth-child(2) ul {
    margin-top: 2%;
    list-style: none;
}

.read-more {
    display: block;
    margin-top: 1em;
    /* border: 1px solid black; */
    padding: 0px;
    width: 10.2em;
    text-decoration: none;
    color: #ec0066;
}

.read-more::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #ec0066;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.read-more:hover::after {
    width: 100%;
}

.fa-arrow-right {
    position: relative;
    top: 1px;
}

.special-section {
    min-height: 50vh;
    background-color: #0b0d3e;
    color: white;
}

.heading {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    padding: 50px;
    font-size: 30px;
    /* align-items: center; */
}

.separating-border {
    /* content: ''; */
    width: 10%;
    height: 3px;
    background: #ffbf00;
    /* display:block; */
    margin: auto;
    margin-bottom: 25px;
    transition: 0.5s;
}

.sub-special {
    /* background-color: black; */
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    padding-bottom: 2em;
    /* gap: 30px; */
}

.sub-special h1 {
    color: #ec0066;
}

#quality-1,
#quality-2,
#quality-3 {
    text-align: center;
    width: 400px;
    /* background-color: black; */

}

#quality-1 div,
#quality-2 div,
#quality-3 div {
    font-weight: 100;
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    /* text-shadow: 2px 2px; */
}

#quality-3 div {
    margin-top: 35px;
}

.services-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3em;
}

.services-img img {
    width: 27em;
    margin-bottom: 30px;
}

.services-img p {
    text-align: center;
    font-size: 25px;
}

/* Choose Us */
.chooseUs {
    min-height: 50vh;
    margin-bottom: 40px;
}

.choose-description {
    margin-top: 3%;
    font-size: 20px;
    padding: 0 400px;
    text-align: center;
    margin-bottom: 3em;
}

.chooseUs-subsection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 150px;
    gap: 40px;

}

.planning {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    /* font-size: 25px; */
}

.planning p {
    text-align: center;
    font-size: 35px;
}

.circular-img {
    border-radius: 50%;
    border: 1px solid black;
    width: 20em;
    height: 20em;
}

.detailing {
    text-align: center;
    font-size: 20px;
    width: 100%;
    padding: 0;
}

.counter-container {
    margin-top: 3%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 55px;
    padding-bottom: 45px;
    min-height: 6vh;
    background-color: #ffbf00;
}

.counter-container p {
    font-size: 30px;
}

.count-div {
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.feedback {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

.feedback-subsection {
    /* margin-top: 20%; */
    display: flex;
    /* border: 1px solid black; */
    justify-content: space-around;
    gap: 40px;
    margin-top: 40px;
    margin-bottom: 100px;
}

.feedback-subsection sub {
    /* border: 1px solid black; */
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.feedback-subsection sub p{
    font-size: 20px;
}

.feedback-img {
    display: flex;
    width: 400px;
    font-size: 20px;
    /* background-color: blue; */
    justify-content: space-between;
}

.feedback-img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.feedback-img div:nth-child(2) {
    display: grid;
    width: 300px;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
}

footer {
    padding: 2% 10%;
    font-size: 25px;
    background-color: #212121;
    color: white;
    display: flex;
    justify-content: space-around;
    /* width: 80%; */
    /* margin-left: 10%; */
}

.nav-icons ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

footer sub {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.ftopic {
    color: #ea3a60;
    font-size: 30px;
}

.footer2 {
    width: 100%;
    height: 50px;
    background-color: #424242;
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;
}


.fa-brands {
    color: #ea3a60;
    text-decoration: none;
    font-size: 35px;
}

.fa-brands:hover {
    border-radius: 50%;
    height: 35px;
    width: 35px;
    /* padding-top: 10px; */
    text-align: center;
    color: white;
    background-color: #ea3a60;
}

.Quick-links{
    margin-left: 30px;
    width: 200px;
}

@media (max-width:1400px) {

    header {
        min-height: 100vh;
        width: 100%;
        background-color: #0B0D3E;
        background-position: center;
        background-size: cover;
        position: relative;
        padding-bottom: 5%;
    }

    .image-container {
        margin-top: 15em;
        /* border: 1px solid white; */
        display: flex;
        justify-content: center;
    }

    .image-container img {
        /* height: 4%; */
        width: 25%;
    }

    .nav-links ul li {
        display: inline-block;
    }

    .nav-links {
        position: fixed;
        background: #0B0D3E;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }

    nav .fa-solid {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 10px;
    }

    .about-section {
        display: flex;
        flex-direction: column;
        gap: 50px;
        overflow: hidden;
        /* border: 1px solid black; */
    }

    .about-section div h1 {
        /* border: 1px solid black; */
        font-size: 40px;
    }

    .special-section {
        /* min-height: 50vh; */
        background-color: #0b0d3e;
        color: white;
        padding-bottom: 50px;
    }

    .sub-special {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;
    }

    .services-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .chooseUs {
        min-height: 50vh;
    }

    .choose-description{
        padding: 0 70px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .chooseUs-subsection {
        display: flex;
        flex-direction: column;
        padding: 0 80px;
    }

    .circular-img {
        border-radius: 50%;
        width: 25em;
        /* background-color: black; */
    }

    .chooseUs-subsection div p {
        display: flex;
        justify-content: center;
        margin-top: 5%;
        margin-bottom: 5%;
        font-size: 25px;
    }

    .detailing {
        text-align: center;
        font-size: 18px;
    }
    
    .counter-container {
        margin-top: 3%;
        display: flex;
        flex-direction: row;
        gap: 30px;
        padding-top: 55px;
        padding-bottom: 45px;
        min-height: 6vh;
        background-color: #ffbf00;
    }
    
    .counter-container p {
        font-size: 20px;
    }
    
    .count-div {
        display: flex;
        justify-content: center;
        font-size: 50px;
    }

    .feedback-subsection {
        /* margin-top: 20%; */
        display: flex;
        /* border: 1px solid black; */
        flex-direction: column;
        align-items: center;
        gap: 40px;
        margin-top: 40px;
        margin-bottom: 100px;
    }
}